<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi primer Plantilla Django </title>
</head>
<body>
        <div>
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
            {% for publicacion in publicaciones %}
            <div>
                <p>Publicado:
                {{publicacion.fecha_publicacion}}
                </p>

                <h1><a href="">{{publicacion.titulo}}</a> </h1>

                <!-- |linebreaksbr Convierte saltos de linea en parrados-->
                <p>{{publicacion.texto|linebreaksbr}}</p>
            </div>
            {% endfor %}


</body>
</html>